* {
  margin: 0;
  padding: 0;
}
a:hover {
  color: rgb(203, 102, 14);
}
.layout-site {
  max-width: 1400px;
  margin: 0 auto;
}
.layout-site h1.title-site {
  text-align: center;
  margin: 20px 0;
}
nav.sidebar-container {
  position: fixed;
  background: grey;
  top: 0;
  left: 0;
}
.counter-layout {
  display: flex;
}
main.main-container {
  padding: 15px 0;
}
.auth-layout {
  max-width: 1200px;
  margin: 0 auto;
}
/* ----------- Login Form -------------- */
.login-wrapper {
  /* position: relative; */
  max-width: 1200px;
  margin: 0 auto;
}
.loginform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form.login-form {
  max-width: 400px;
}
form button.btn-auth {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background: gray;
}
form span.ant-input-affix-wrapper {
  margin-bottom: 10px;
}
button.ant-btn.css-dev-only-do-not-override-djtmh8.ant-btn-primary.btn-auth {
  height: 40px;
}

/* -----------------------------------------Navigate ----------------------------------- */

.menu-wrapper ul li {
  display: inline-block;
  margin: 0 10px;
}
.menu-wrapper ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-wrapper ul li a:hover {
  color: orange;
}
nav.nav-item {
  padding-top: 15px;
}
