* {
  margin: 0;
  padding: 0;
}
a:hover {
  color: rgb(203, 102, 14);
}
.layout-site {
  max-width: 1400px;
  margin: 0 auto;
}
.layout-site h1.title-site {
  text-align: center;
  margin: 20px 0;
}
nav.sidebar-container {
  position: fixed;
  background: grey;
  top: 0;
  left: 0;
}
.counter-layout {
  display: flex;
}
main.main-container {
  padding: 15px 0;
}
.auth-layout {
  max-width: 1200px;
  margin: 0 auto;
}
h2.title-site {
  margin-bottom: 15px;
  color: #711414;
}

/* ----------- Login Form -------------- */

/* #711414 */
.login-wrapper {
  /* position: relative; */
  max-width: 1200px;
  margin: 0 auto;
}
.loginform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
form.login-form {
  max-width: 400px;
}
form button.btn-auth {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background: gray;
}
form span.ant-input-affix-wrapper {
  margin-bottom: 10px;
}
button.ant-btn.css-dev-only-do-not-override-djtmh8.ant-btn-primary.btn-auth {
  height: 40px;
}
form.login-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.loginform-container
  span.ant-input-affix-wrapper.css-dev-only-do-not-override-djtmh8.ant-input-outlined.ant-input-status-success {
  height: 50px;
  font-size: 16px;
}
button.ant-btn.css-dev-only-do-not-override-djtmh8.ant-btn-primary.btn-auth:hover {
  background-color: #711414;
}
p.signin-link a {
  color: #711414;
}
p.signin-link a:hover {
  color: rgb(72, 72, 213);
}

/* -----------------------------------------Register Form -------------------------------------- */

.root-register {
  background-image: linear-gradient(
    to right,
    rgb(86, 90, 126),
    rgb(158 116 116)
  );
  height: 3000px;
  padding: 30px;
}
.wrapper-register-site {
  background-image: url("../../public/backgroundLogin.png");
  background-size: 126.5px;
  height: 3000px;
}
form.register-form {
  max-width: 400px;
  display: flex;
  padding: 30px;
  border-radius: 3%;
  flex-direction: column;
  background-color: #ffffff;
}
.register-form-container.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #fff; */
}
.register-form-container.register-form h3.log-error {
  color: #ff1111;
}
/* -----------------------------------------Navigate ----------------------------------- */

.menu-wrapper ul li {
  display: inline-block;
  margin: 0 10px;
}
.menu-wrapper ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-wrapper ul li a:hover {
  color: orange;
}
nav.nav-item {
  padding-top: 15px;
}
