/*------------------------------- SideBar ----------------------------------------- */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* Sidebar ẩn bên trái */
  width: 250px;
  height: 100%;
  background-color: 0, 0, 0, 0.5;
  padding: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0; /* Hiện sidebar sang phải */
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: -40px;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
}

nav.wrap-navbar {
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #fff;
}

li:hover {
  color: rgb(162, 104, 38);
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  /* .sidebar {
    width: 100%;
  } */
}
