* {
  margin: 0;
  padding: 0;
}
.layout-site {
  max-width: 1200px;
  margin: 0 auto;
}
nav.sidebar-container {
  position: fixed;
  background: grey;
  top: 0;
  left: 0;
}
/* -----------------------------------------Navigate ----------------------------------- */

.menu-wrapper ul li {
  display: inline-block;
  margin: 0 10px;
}
.menu-wrapper ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
/* -------------------------------------------- Footer --------------------------------------*/
footer.footer-container {
  padding: 30px 0;
  background-color: rgb(62, 62, 55);
}

.footer-wrapper p {
  text-align: center;
}

